   <div class="container">
      <p>Professores do ICOMP - UFAM</p>
      <ul>
         {{#each profs}}
            <li>Nome: {{nome}}, Sala: {{sala}}</li>
         {{/each}}
      </ul>
   </div>
</body>