<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>HB4</title>
</head>
<body>
   <div>
      <ul>
         {{#each technologies}}
            {{#if poweredByNodejs}}
               <li>
                  {{name}}: {{type}}
               </li>
            {{/if}}
         {{/each}}
      </ul>
   </div>
</body>
</html>